/*

Custom CSS by Elsea Labs

See the source of the index.html page to
view more information about the  company
and its copyrights.

*/

/*

Custom Defined Font Faces

*/

@font-face {
  font-family: Helvetica;
  font-weight: thin;
  src: url("helv-light.otf") format("opentype");
}

@font-face {
  font-family: Helvetica;
  font-weight: bold;
  src: url("helv-bold.otf") format("opentype");
}

/* 

Header:
  Overall header container

*/

.website-header {
  position: fixed;
  z-index: 10;

  width:     100%;
  max-width: 100%;
  min-width: 100%;

  height:     20%;
  max-height: 20%;
  min-height: 20%;

  background-color: white;
}

/* Header: Red accent bar */

.website-header .bar {
  height:     15px;
  max-height: 15px;
  min-height: 15px;

  background-color: #eb0c4b;
}

/* Header: Camp logo */

.website-header .logo {
  width:      25%;
  max-width:  25%;
  min-width:  25%;

  padding-top: 3%;
}

/* Header: Church name */

.website-header .church-name {
  position: absolute;

  max-width:  500%;

  font-family: Helvetica;
  font-weight: bold;
  text-transform: uppercase;

  right: 15%;

  color: #c7c7c7;
}

.website-header .church-logo {
  position: absolute;
  right: 2%;
}

/* 

Content:
  Overall header container 

*/

.content {
  position: absolute;
}

/* 

Bar One:
  Contains the first website image

*/

.bar-one .image {
  width: 100%;
  
  /* QUICK FIX FOR LINE HEIGHT ERROR */
  margin-bottom: -3px;
}

/* 

Bar Desc:
  Description of acronym bar

*/

.bar-desc {
  text-align: center;

  font-family: Helvetica;
  font-weight: bold;
  text-transform: uppercase;
  color: white;

  background-color: #eb0c4b;
}

.bar-desc ul li {
  display: inline-block;
  margin: 1% 4%;
}

/* 

Bar Two:
  Contains information about the camp

*/

.bar-two {
  background-color: #7f0a2b;
}