/*

Custom CSS by Elsea Labs

See the source of the index.html page to
view more information about the  company
and its copyrights.

*/

/*

Custom Defined Font Faces

*/

@font-face {
  font-family: Helvetica;
  font-weight: thin;
  src: url("helv-light.otf") format("opentype");
}

@font-face {
  font-family: Helvetica;
  font-weight: bold;
  src: url("helv-bold.otf") format("opentype");
}

@font-face {
  font-family: Damion;
  font-weight: normal;
  src: url("damion.ttf") format("truetype");
}

/* 

Header:
  Overall header container

*/

.website-header {
  position: fixed;
  z-index: 10;

  width:     100%;
  max-width: 100%;
  min-width: 100%;

  height:     20%;
  max-height: 20%;
  min-height: 20%;

  background-color: white;
}

/* Header: Red accent bar */

.website-header .bar {
  height:     15px;
  max-height: 15px;
  min-height: 15px;

  background-color: #eb0c4b;
}

/* Header: Camp logo */

.website-header .logo {
  width:      25%;
  max-width:  25%;
  min-width:  25%;

  padding-top: 3%;
}

@media only screen  and (min-width : 970px) {

  .website-header .logo {
    width:      235px;
    max-width:  235px;
    min-width:  235px;
  }

}

/* Header: Church name */

.website-header .church-name {
  position: absolute;

  max-width:  500%;

  font-family: Helvetica;
  font-weight: bold;
  text-transform: uppercase;

  right: 15%;

  color: #c7c7c7;
}

.website-header .church-logo {
  position: absolute;
  right: 2%;
}

/* 

Content:
  Overall header container 

*/

.content {
  position: absolute;
}

/* 

Bar One:
  Contains the first website image

*/

.bar-one .image {
  width: 100%;

  height: auto;
  max-height: auto;
  min-height: auto;

  /* QUICK FIX FOR LINE HEIGHT ERROR */
  margin-bottom: -3px;
}

/* 

Bar Desc:
  Description of acronym bar

*/

.bar-desc {
  text-align: center;

  font-family: Helvetica;
  font-weight: bold;
  text-transform: uppercase;
  color: white;

  background-color: #eb0c4b;
}

.bar-desc ul li {
  display: inline-block;
  margin: 1% 4%;
}

/* 

Bar Two:
  Contains information about the camp

*/


.bar-two {
  color: white;
  background-color: #7f0a2b;
}

@media only screen  and (min-width : 1000px) {

  .registration-inner-bar {
    width: 1000px;
    max-width: 1000px;
    min-width: 1000px;

    margin: 0 auto;
  }

}

/* 

Description Box:
  Contains information about the camp

*/

.description-box {
  width: 50%;
  max-width: 50%;

  font-family: Helvetica;

  float: left;
}

.description-box header h1 {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 260%;

  padding: 0 5%;
  padding-top: 5%;
}

.description-box .description {
  font-family: Helvetica;
  font-weight: thin;
  font-size: 106%;

  padding: 0 5%;
  padding-top: 5%;
}

.description-box .description .important {
  font-weight: bold;
}

.description-box .questions {
  font-family: Helvetica;
  font-weight: thin;
  font-size: 100%;

  padding: 0 5%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.description-box .questions h3 {
  font-weight: bold;
  display: inline-block;
}
/* 

Registration Box:
  Contains information about registration

*/

.registration-box {
  width: 50%;
  max-width: 50%;

  font-family: Helvetica;

  float: left;
}

.registration-box .button-container {
  padding: 20px;
}

.registration-box .button-container .button {

  opacity: .99; /* stupid z-index fix */

  z-index: 1;

  width: 90%;
  max-width: 90%;
  min-width: 90%;

  display: block;

  padding: 15px;
  margin: 0 auto;

  font-weight: bold;
  font-size: 209%;
  text-decoration: none;
  color: white;

  background-color: #eb0c4b;
}

.registration-box .button-container .button:hover {
    background-color: #b11a44;
}

.registration-box .button-container .button img {
  float: right;
}

.registration-box .information {
  width: 100%;
}

/* Force sections to display side by side */
.registration-box .information section {
  display: inline-block;
}

.registration-box .information .date {
  padding-left: 5%;
  float: left;
}

.registration-box .information .age {
  padding-right: 5%;

  font-weight: bold;

  float: right;
}

/* BUTTON HOVER */

.registration-box .expand {

  display: none;

  z-index: 0;

  position: absolute;

  display: block;

  padding: 15px;
  margin: 0 auto;

  background-color: #eb0c4b;
  background-color: white;
}

.registration-box .expand .choice {

  float: left;

  font-size: 25px;

  color: white;
  display: inline;
  background-color: #eb0c4b;

  padding: 10px;
  margin: 8px;

  height: 90%;
  max-height: 70%;
  min-height: 70%;

  width: 40%;
  max-width: 40%;
  min-width: 40%;
}

.registration-box .expand .choice:hover {
  background-color: #b11a44;
}

.registration-box .expand .choice span {
  font-weight: bold;
}

.registration-box .expand .choice .arrow {
    position: absolute;
}

/*

Change  the  columns  position  when 
the screen size changes to a smaller
view 

*/

@media only screen  and (max-width : 760px) {

  .description-box {
    width: 100%;
    max-width: 100%;
  }

  .registration-box {
    width: 100%;
    max-width: 100%;
    min-width: 372px;

    display: block;
  }

}

/* Two columns of camp activities */

.registration-box .activities {
  width: 100%;
}

.registration-box .activities .col li {
  padding-top: 5%;
  padding-bottom: 5%;
}

.registration-box .activities .col-one {
  padding-left: 5%;
  padding-top: 5%;

  float: left;
}

.registration-box .activities .col-two {
  padding-right: 5%;
  padding-top: 5%;

  float: right;
}

/*

Clear Fix

*/

.clearfix:after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}

.bar-three {
  width: 100%;
}

.bar-three .image {
  width: 100%;
}

/*

REMOVED FEATURE, NOT ENOUGH TIME TO COMPLETE

.bar-three .header {
  position: relative;
  width: 100%;
  bottom: 300px;
}

.bar-three .header h2 {
  text-align: center;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 3em;
  color: white;
}

@media only screen  and (max-width : 860px) {

  .bar-three .header {
    display: none;
  }

}
*/

/*
Bar Four: shout-outs
*/

.bar-four {
  width: 100%;
  background-color: #eb0c4b;
  margin-top: -3px;
}

.bar-four .major-block {
  float: left;
  color: white;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 1.6em;
  padding: 30px;
  width: 60%;
}

/*
Bar Four: Registration call-to-action #2
*/

.bar-five {
  position: relative;
}

.bar-five .image {
  position: relative;
  width:     100%;
  max-width: 100%;
  min-width: 100%;
}

.bar-five .registration {
  position: absolute;
  bottom: 20%;
  left: 5%;

  width:     30%;
  max-width: 300px;
  min-width: 250px;

  height: 300px;

  float: left;
  background-color: rgba(127, 10, 43, .4);

/*  opacity: 0.6;
  filter: alpha(opacity=60); */

  font-weight: bold;
  color: white;
}

.bar-five .inner-box {
  padding: 10px;
}

.bar-five h1 {
  font-family: Helvetica;
  font-size: 2em;
}

.bar-five h3 {
  font-family: Damion;
  position: relative;
  bottom: 40px;
  font-size: 6em;

  -ms-transform: rotate(-7deg); /* IE 9 */
  -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
  transform: rotate(-7deg);

  float: right;
}

.bar-five .button {
  display: block;
  position: absolute;
  bottom: 5%;

  height: 20%;

  font-size: 1.7em;

  font-family: Helvetica;
  color: white;

  padding: 10px;

  text-decoration: none;

  background-color: #eb0c4b;
  width: 90%;

}

.bar-five .button:hover {
    background-color: #b11a44;
}

.bar-five .text {
    vertical-align: middle;
}

/*

Bar Six: Oh god so many bars why me

*/

.bar-six {
  position: relative;
  background-color: white;
  height: 100px;

  font-family: Helvetica;
  color: gray;
}

.bar-six .accent {
margin-top: -3px;
  background-color: #eb0c4b;
  height: 20px;
}

.bar-six .address {
  position: absolute;
  right: 0px;
}

.bar-six .buttons {
  position: absolute;
  left: 0px;
  padding: 10px;
  display: block;
}

.bar-six * {
  padding: 2px;
  display: block;
}

/* 

Header:
  Overall header container

*/

.website-footer {

  margin: -3px;
  position: relative;
  z-index: 10;

  width:     100%;
  max-width: 100%;
  min-width: 100%;

  height:     20%;
  max-height: 20%;
  min-height: 20%;

  background-color: white;
}

/* Header: Red accent bar */

.website-footer .bar {
  height:     15px;
  max-height: 15px;
  min-height: 15px;

  background-color: #eb0c4b;
}

/* Header: Camp logo */

.website-footer .logo {
  width:      300px;
  max-width:  300px;
  min-width:  300px;

  padding-top: 2%;
}

/* Header: Church name */

.website-footer .church-name {
  position: absolute;

  top: 40px;
  right: 30px;

  max-width:  500%;

  font-family: Helvetica;
  font-weight: bold;
  text-transform: uppercase;

  color: #c7c7c7;
}

.website-footer .button {
  display: block;
  color: white;
  padding: 10px;
  text-decoration: none;
  background-color: #eb0c4b;
}

.website-footer .elsea-logo {
  padding: 20px;
  font-family: Helvetica;
  font-weight: bold;
  text-transform: uppercase;
}

.website-footer .elsea-logo img {
  min-width: 80px; 
  max-width: 80px;
  display: inline;
}